html,
body{
	background:black;
	margin:0;
	padding:0;
}

#status {
	position:absolute;
	top:10px;
	left:10px;
	z-index:1000;
	color:white;
	font-family:monospace;
}


.network-status-overlay {
	width:30px;
	height:30px;
	position:absolute;
	right:0px;
	top:0px;
	background-color:#808080;
}

.network-status-overlay.transmitting {
	background-color:#9cfa21;
}